.client-img{
    max-width: 60px;
    max-height: 60px;
}

.client-img-big{
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #212529;
}

.no-top-thead thead tr th{
    border-top-color: white!important;
}

.image-upload > input {
    display: none;
}

.no-photo {
    margin: 12px;
}

.clickable {
    cursor: pointer;
}

h1, h1, h3, h4, h5, h6 {
    font-weight: 300;
}